/*===========================
    11.FOOTER css 
===========================*/

.footer_area {
  padding-top: 15px;
  }
  
  .footer_menu ul li {
    display: inline-block;
  
  }
  .footer_social{
    padding-right: 30px;
  }
  
  
  @media (max-width: 767px) {
    .footer_menu ul li + li {
      margin-left: 5px;
    }
  }
  
  .footer_menu ul li a {
    font-size: 16px;
    color: rgb(126, 126, 126);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_menu ul li a:hover {
    color: rgb(126, 126, 126);
  }
  
  .credit {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color:rgb(126, 126, 126);
    padding-top: 3px;
  }
  
  .credit a {
    color: rgb(126, 126, 126);
  }

  .website{
    text-decoration: none;
    transition: all 0.3s ease-out 0s;

  }
  .website:hover{
    color: #1a63a7;
    cursor: pointer;
    font-size: 18px;
      }
  
  .footer_social ul li {
    display: inline-block;
  }
  
  .footer_social ul li + li {
    margin-left: 20px;
  }
  
  .footer_social ul li a {
    font-size: 20px;
    color: rgb(126, 126, 126);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_social ul li a:hover {
    color: #1a63a7;
  }
  
  .about_social ul li {
    display: inline-block;
  }
  
  .about_social ul li + li {
    margin-left: 10px;
  }
  
  .about_social ul li a {
    font-size: 20px;
    color: rgb(126, 126, 126);
    transition: all 0.3s ease-out 0s;
  }
  
  .about_social ul li a:hover {
    opacity: 0.5;
  }
  
  
  @media (max-width: 767px) {
    .footer_social ul li a {
      font-size: 20px;
    }
  }

/*===========================
    11.REGISTER css 
===========================*/

.reg_form{
border-radius: 25px;
padding: 20px;
}

.reg_message{
font-size: 18px;
}

.login_link{
  color:rgb(202, 150, 91);
text-decoration: none;
transition: all 0.3s ease-out 0s;
}

.login_link:hover{
  color:rgb(179, 31, 31);
  cursor: pointer;
  }

/*===========================
    11.LOGIN css 
===========================*/

.login_form{
  border-radius: 25px;
  padding: 20px;
  }
  
.login_message{
  font-size: 18px;
}
  
.reg_link{
color:rgb(202, 150, 91);
text-decoration: none;
transition: all 0.3s ease-out 0s;
}
  
.reg_link:hover{
  color:rgb(179, 31, 31);
  cursor: pointer;
}
  